h1{
  font-family: verdana;
  font-size: 60px;
}

h1:hover{
  font-family: verdana;
  font-size: 60px;  
  color: hotpink;
}

img{
    width:250px;
    height:200px;
    -moz-trasition: width 1s;
    -moz-transition: height 1s;
    transition: width 1s;
}
img:hover {
    width: 300px;
}

div.tiradas{
    font-family: verdana;
    font-size: 35px;  
}
body {
    background-color: lightblue;
}

input{
    font-family: verdana;
    font-size: 25px;  
}
